<% layout('layout') %>

<div class="container mt-4">
  <h1 class="text-warning">Forum</h1>
  <% if (user) { %>
    <a href="/forum/new" class="btn btn-warning mb-3">Create New Thread</a>
  <% } %>
  <% if (threads.length === 0) { %>
    <p>No threads yet. Be the first to create one!</p>
  <% } else { %>
    <ul class="list-group">
      <% threads.forEach(thread => { %>
        <li class="list-group-item bg-dark text-light mb-2">
          <h5>
            <a href="/forum/<%= thread._id %>" class="text-warning">
              <%= thread.title || 'Untitled Thread' %>
            </a>
          </h5>
          <small>
            Posted by
            <a href="/profile/<%= thread.author._id %>">
              <%= thread.author.firstName %> <%= thread.author.lastName %>
            </a>
            on <%= new Date(thread.createdAt).toDateString() %>
          </small>
        </li>
      <% }) %>
    </ul>
  <% } %>
</div>
