<%- include('partials/header') %>
<div class="container forum-container">
  <h2>Community Forum</h2>
  <% threads.forEach(thread => { %>
    <div class="thread-item">
      <h4><a href="/forum/<%= thread._id %>"><%= thread.title %></a></h4>
      <p><%= thread.comments.length %> comments</p>
    </div>
  <% }) %>
  <a href="/forum/new" class="btn-primary">New Thread</a>
</div>
<%- include('partials/footer') %>