<%- include('layout') %>

<div class="container mt-4">
  <h1 class="text-warning">Forum</h1>
  <% if (user) { %>
    <a href="/forum/new" class="btn btn-warning mb-3">Create New Thread</a>
  <% } %>
  <% if (posts.length === 0) { %>
    <p>No threads yet. Be the first to create one!</p>
  <% } else { %>
    <ul class="list-group">
      <% posts.forEach(post => { %>
        <li class="list-group-item bg-dark text-light mb-2">
          <h5>
            <a href="/forum/<%= post._id %>" class="text-warning"><%= post.title %></a>
          </h5>
          <small>
            Posted by <%= post.author.firstName %> <%= post.author.lastName %> on
            <%= new Date(post.createdAt).toDateString() %>
          </small>
        </li>
      <% }) %>
    </ul>
  <% } %>
</div>

<%- include('partials/footer') %>
