<!-- views/list.ejs -->
<% layout('layout') %>

<div class="container mt-4">
  <% if (contentType === 'TV') { %>
    <h2 class="text-warning mb-3" style="font-family: 'Bebas Neue', sans-serif;">
      Popular TV
    </h2>
  <% } else if (contentType === 'Kids') { %>
    <h2 class="text-warning mb-3" style="font-family: 'Bebas Neue', sans-serif;">
      Popular Kids Titles
    </h2>
  <% } else { %>
    <h2 class="text-warning mb-3" style="font-family: 'Bebas Neue', sans-serif;">
      Popular Movies
    </h2>
  <% } %>

  <div class="row">
    <% movies.forEach(item => { %>
      <div class="col-md-3 col-sm-6 mb-4 position-relative" data-aos="fade-up">
        <div class="card h-100 hover-zoom">
          <% if (item.posterPath) { %>
            <img
              src="https://image.tmdb.org/t/p/w500<%= item.posterPath %>"
              class="card-img-top"
              alt="<%= item.title %>"
            >
          <% } %>
          <span class="badge rating-badge">
            <% if (item.ratings.length > 0) { %>
              <%= item.averageRating.toFixed(1) %>/10
            <% } else { %>
              No Ratings
            <% } %>
          </span>
          <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <a href="/movies/<%= item._id %>" class="btn btn-sm btn-outline-warning">
              View
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
