<%- include('partials/header') %>
<div class="container profile-container">
  <h2><%= user.username %>'s Profile</h2>
  <p>Email: <%= user.email %></p>
  <p>Reviews submitted: <%= user.reviews.length %></p>
  <a href="/profile/edit" class="btn-primary">Edit Profile</a>
</div>
<%- include('partials/footer') %>